[build]
  command = "npm install && npm run build"
  functions = "netlify/functions"
  publish = "frontend/dist"

[build.environment]
  NODE_VERSION = "22"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[functions]
  node_bundler = "esbuild"
  included_files = ["backend/src/**", "backend/dist/**"]

